body {
    background-color: rgb(140, 247, 158);
    font-family: 'Lora', serif;
}
.logo {
    width: 100px;
    margin: auto;
    display: block;
}
.navigation {
    background-color: black;
    text-align: center;
}
.navigation a {
    color: antiquewhite;
    text-decoration: none;
}
.banner {
    height: 1000px;
    background-color: black;
    color: antiquewhite;
    background-image: url("images/Background.jpg");
}